################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphQLUserApi
/GraphQLUserApi/obj
/.vs/ProjectEvaluation
/GraphQLUserApi/bin/Debug/net8.0
